<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--> 
<center>{{hallo}} 
    <br><br>
        Nama <br>
        <input class="input-lg" type="text" ng-model="model.nama"><br>
        Alamat <br>
        <input class="input-lg" type="text" ng-model="model.alamat"><br>
        <button class="btn btn-primary" ng-click="simpan(model)">Simpan</button>
        <br><br></center>
        For the first time in forever
        
        <br><br>
        <table class="table table-striped table-bordered">
            <tr>
            <td>Nama</td>
            <td>Alamat</td>
            <td>Action</td>
            </tr>
            <tr ng-repeat="peserta in data">
                <td>{{peserta.nama}}</td>
                <td>{{peserta.alamat}}</td>
                <td><button class="btn btn-danger" ng-click="hapus($index)">Hapus</button>
                    <button class="btn btn-primary" ng-click="edit(peserta, $index)">Edit</button></td>
            </tr>
        </table>    
        <br>
        <center>Ini adalah data dari server <button class="btn btn-primary" ng-click="tampilkanData()">Tampilkan Data</button><br></center>
        <br> 
        Nama<input type="text" ng-model="currentPeserta.nama">
        Alamat<input type="text" ng-model="currentPeserta.alamat">
        <button class="btn btn-primary" ng-click="simpanData(currentPeserta)">Simpan Data</button>
        <br><br>
        <table class="table table-striped table-bordered">
            <tr>
            <td>nama</td>
            <td>alamat</td>
            </tr>
            <tr ng-repeat="peserta in dataServer">
                <td>{{peserta.nama}}</td>
                <td>{{peserta.alamat}}</td>
                <td><button class="btn btn-danger" ng-click="hapusData(peserta.id)">Hapus</button>
                    <button class="btn btn-primary" ng-click="editData(peserta)">Edit</button></td>
            </tr>
        </table>    
